.fondo{
    background-image: url("../images/fondo.jpg");
    background-position: center center;
    height: 640px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}
.principal{
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 0, 0);
    color: white;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

/* peliculas */
body{
    background-color: black;
}
.card{
    width: 95%;
    display: flex;
    flex-flow: column wrap;
    background: radial-gradient( farthest-corner circle at left top, rgb(30, 8, 2) 35%, rgb(0, 0, 0) 96%);
    padding: 0px 0px 10px 25px;
    margin-bottom: 10px;
}
.card-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.date{
    color: gray;
    font-size: 12px;
    padding-left: 30px;
}
icon-social{
    fill: #ec8e4a;
}
.card-content{
    display: flex;
    flex-direction: row;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
}
.poster{
    width: 190px;
}
.poster img{
    width: 190px;
    height: auto;
}
.descripcion{
    padding-right: 10px;
    padding-left: 25px;
    width: 70%;
    font-size: 14px;
    line-height: 1.8;
}
.boton{
    color: white;
    text-decoration: none;
    border: 2px solid #ec8e4a;
    border-radius: 20px;
    padding: 10px 30px;
    margin-right: 16px;
    font-size: 12px;
}
.icon-boton{
    position: relative;
    top: 7px;
}
.valoracion{
    width: 150px;
    padding-top: 10px;
}
.metricas{
    color: gray;
    font-size: 12px;
    margin-bottom: 8px;
}
.barra{
    color: gray;
    width: 100%;
    height: 4px;
    border: 0px solid #3d3c3c;
    background-color: #3d3c3c;
    border-radius: 4px;
    margin-bottom: 25px;
}
.puntaje{
    height: 4px;
    border: 0px solid #ec8e4a;
    background-color: #ec8e4a;
    border-radius: 4px;
}
h2{
    color: #ec8e4a;
    text-transform: uppercase;
}
.descripcion h3{
    margin-top: 0px;
}
/*div{
    border: 1px solid #ffffff;
}*/
